/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans" , sans-serif;
}

.container{
    max-width: 2100px;
    margin: 0  auto;
}

.col{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 30px;
    min-height: 100px;
}

.lightblue{
    background-color: lightblue;
}

.white{
    background-color: white;
}

.white-text{
    color: white;
}

.button{
    background-color: white;
    padding: 10px 20px;
    color: black;
    border-radius: 50px;
}

.button-blue{
    background-color: #0084FD;
    color: white;
    padding: 10px 60px;
}

a{
    text-decoration: none;
    color: white;
}

.section-title{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.col-title{
    color: #0084FD ;
    font-size: 25px;
}

.col-p{
    font-weight: bolder;
    color: #5A6E7F;
    line-height: 30px;
}

.section-p{
    color: white;
    line-height: 30px;
}


/* Regole header */
header{
    background-color: #0084FD;
    max-width: 2100px;
    height: 80px;
    margin: 0 auto;
}

header .container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    max-width: 100%;
    padding-top: 10px;
    /* Debug */
    /* height: 40px;
    background-color: blue; */
}

#hamburger a{
    max-width: 100%;
    color: white;
    font-size: 30px;
    /* Debug */
    /* height: 40px;
    background-color: blue; */
}

#main-nav{
    display: none;
}

#main-nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
}

/* Regole main */
/* Sezione funzionalita */
#funzionalita{
    padding: 40px 0;
}

#funzionalita .container{
    margin: 0 auto;
}

#funzionalita .col{
    padding: 30px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#funzionalita .col.big{
    padding-bottom: 0;
}

.col-big-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.col img{
    max-width: 60%;
}

#funzionalita i{
    color: #0084FD;
    font-size: 100px;
}

/* Sezione funzionalità */
#planning{
    background-color:#9792E4;
}
#planning .container{
    background-color: #9792E4;
    margin: 0 auto;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#planning img{
    max-width: 100%;
}

#planning .col{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#down-arrow{
    background-color: #68659B;
    padding: 10px 15px;
    border-radius: 100%;
}

/* Sezione testimonial */
#testimonial-title{
    font-size: 40px;
    color: #9792E4;
    margin: 20px 0;
}

#testimonial .col.title{
    text-align: center;
    margin-top: 20px;
}

.col.card{
    background-color: #9792E4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col.card img{
    max-width: 30%;
    border-radius: 50%;

}


/*****************************
    Versione Tablet
********************************/
@media all and (min-width:768px) {
    #funzionalita .container{
        width: 95%;
        display: flex;
    }

    #funzionalita .col{
        width: calc((100% / 3) - 10px);
    }

    #funzionalita .col.big{
        width: calc(((100% / 3) * 2) - 10px);
    }

    .section-title{
        font-size: 70px;
    }

    .col.card{
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    
    .col.card img{
        max-width: 20%;
        border-radius: 50%;
    
    }
}

/*****************************
    Versione Desktop
********************************/
@media all and (min-width:1025px) {
    #funzionalita .container{
        width: 75%;
    }

    #hamburger{
        display: none;
    }

    
    #main-nav{
    display: inline-block;
    /* Debug */
    /*  width: 70px;
    height: 40px;
    background-color: rgb(255, 0, 0); */
    }

    #planning .container{
        display: flex;
        flex-direction: row;
        max-width: 70%;
    }

    #planning.col{
        width: 50%;
    }

    #funzionalita .col.big{
        padding-bottom: 0;
        flex-direction: row;
    }

    .col-big-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;
    }

    .col img{
        max-width: 250px;
        align-self: flex-end;
    }

    .section-title{
        font-size: 40px;
    }

    

}